<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
        <title>{{ fullName }}</title>
    </head>
    <body>
        <h1>{{ fullName }}</h1>

        {{ content }}
    </body>
</html>