<!doctype html>
<html lang="en">
    <head>
        <title>SoundGarage</title>
        <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="Description" content="Sound Garage is a place for all things music related.">
    </head>
    <link rel="dns-prefetch" href="https://i3.ytimg.com">
    <style>
        html {
            box-sizing: border-box;
            font-family:Helvetica, Arial;
        }
        *, *:before, *:after {
            box-sizing: inherit;
        }
        a{
            color:#CA4616;
            text-decoration:none;
            font-size:16px;
        }
        a:hover{
            text-decoration:underline;
        }
        .videos{
            max-width:80%;
            margin: 0 auto;
        }
        .videos a{
            color:#fff;
            text-decoration: none;
            text-transform: uppercase;
            font-style: italic;
            font-size:2rem;
        }
        .videos > ul {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
            grid-gap: 1rem;
            padding:0;
        }
        .videos > ul li{
            list-style: none;
        }
        .videos > ul li .placeholder{
            padding:50px;
        }
        .embed-container 
        { 
            position: relative; 
            padding-bottom: 56.25%; 
            height: 0;
            overflow: hidden;
            max-width: 100%; 
        } 
        .embed-container iframe, .embed-container object, .embed-container embed 
        { 
            position: absolute; 
            top: 0; 
            left: 0; 
            width: 100%; 
            height: 100%; 
        }
    </style>
    <body>
    <p style="text-align:center;margin-top:5%;margin-bottom:5%;"><img src="/img/logo2.png" alt="SoundGarage Logo" width="20%" height="20%"/></p>
    <nav style="text-align:center;">
    {% for nav in settings.navigation.primary_navigation %}       
         {% if forloop.last == true %}
            <a href="{{ nav.path }}" >{{ nav.label }}</a>
         {% else %}
            <a href="{{ nav.path }}" >{{ nav.label }}</a>  |
         {% endif %}
    {% endfor %}
    </nav>
   