<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
        <title>Videos : SoundGarage</title>
    </head>
    <body>
        {{ content }}
    </body>
</html>