    {% include header %}
        <h1 style="text-align:center;">Latest SoundGarage Videos</h1>
        <div class="videos">
            <ul>
                {% for item in youtube %}  
                <li>
                    <div class='embed-container'>
                        <iframe
                        src="https://www.youtube.com/embed/{{ item.guid | slice: 9, 11 }}"
                        srcdoc="<style>*{padding:0;margin:0;overflow:hidden}html,body{height:100%}img,span{position:absolute;width:100%;top:0;bottom:0;margin:auto}span{height:1.5em;text-align:center;font:48px/1.5 sans-serif;color:white;text-shadow:0 0 0.5em black}</style><a href='https://www.youtube.com/embed/{{ item.guid | slice: 9, 11 }}?autoplay=1'><img src='{{ item.thumbnail }}'/><span>▶</span></a>"
                        frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen
                        title="{{ item.title }}"
                        ></iframe>
                    </div>
                </li>  
                {% endfor %}  
            </ul>
        </div>
        <div>
            <p><a href="https://www.youtube.com/channel/UCU3Pw2ONAZS0yieakt23KHQ/videos" target="_blank">View All Videos</a></p>
        </div>
        {% include footer %}
